:root {
  --color-bg: #fafafa;
  --color-fg: hsla(0, 0, 0, 0.87);
  --mdc-theme-primary: #fff;
  --selected-color-bg: black;
  --mdc-theme-on-primary: var(--color-fg);
  --mdc-theme-text-primary-on-background: var(--color-fg);
  --mdc-theme-text-hint-on-background: var(--color-fg);
}
