:root {
  --mdc-theme-background: #303030;
  --mdc-theme-primary: #424242;
  --mdc-theme-on-primary: #f4f4f4;
  --mdc-theme-secondary-disabled: #4b4b4b;
  --mdc-theme-on-secondary-disabled: #2c2c2c;
}
