/* Shared vars for light and dark theme */
:root {
  --how-to-table-template-columns: 100%;
  --how-to-sets-template-columns: 100%;

  --sets-shape-size: 2.4em;
  --sets-shape-spacing: 8px;
  --sets-grid-template-columns: repeat(2, minmax(150px, 45vw));
  --sets-gap: 2em;
  --sets-cards-per-row: 2;
  --sets-card-animation-delay: 500ms;

  --sets-shape-blue-hsl: 207, 90%, 58%;
  --sets-shape-red-hsl: 45, 100%, 50%;
  --sets-shape-green-hsl: 4, 90%, 58%; /* Actually yellow */

  --chart-line-width: 2px;
  --chart-circle-radius: 0;
  --chart-circle-width: 0;
  --chart-line-width-hover: 0;
  --chart-color-0: royalblue;
  --chart-color-1: red;
  --chart-color-2: green;
  --chart-color-3: purple;
  --chart-color-4: yellow;
  --chart-color-5: cyan;

  --leaderboard-diff-duration: 2s;
  --leaderboard-diff-positive-color-fg: limegreen;
  --leaderboard-diff-negative-color-fg: red;

  --mdc-typography-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --mdc-text-field-ink-color: var(--color-fg);
  --mdc-text-field-label-ink-color: var(--color-fg);
  --mdc-theme-surface: var(--color-bg);
  --mdc-dialog-heading-ink-color: var(--color-fg);
  --mdc-dialog-content-ink-color: var(--color-fg);
  --mdc-dialog-scroll-divider-color: transparent;
  --mdc-dialog-max-width: 768px;
}

@media (min-width: 576px) { /* bootstrap "sm" */
  :root {
    --how-to-table-template-columns: 50% 50%;
    --how-to-sets-template-columns: 30% 30% 30%;
    --sets-grid-template-columns: repeat(3, minmax(240px, 30vw));
    --sets-shape-size: 3.5em;
  }
}
@media (min-width: 768px) { /* bootstrap "md" */
  :root {
    --sets-shape-spacing: 12px;
  }
}
@media (min-width: 992px) { /* bootstrap "lg" */
  :root {
    --sets-shape-spacing: 18px 12px;
  }
}
@media (min-width: 1200px) { /* bootstrap "xl" */
  :root {
    --sets-shape-size: 4em;
  }
}

/* Main page */
html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--mdc-typography-font-family);
}

h1, h2, h3, h4, h5, h6, ::part(title) {
  text-align: center;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}
h1.title { font-size: 3rem; }
h1 span, h2 span { font-size: 1rem; }

/* Icons */
.top-icons {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.top-icons, .top-icons a {
  color: var(--color-fg);
  text-decoration: none;
}

/* Parts */
::part(client-list) {
  margin: 0 auto;
}

::part(client-list), ::part(leaderboard-full) {
  display: block;
  max-width: 400px;
  border: 1px solid #d3d3d3;
  border-radius: 0.5em;
  color: var(--color-fg);
}

::part(leaderboard-simple) {
  display: block;
  text-align: center;
}

::part(leaderboard) {
  margin: 3em auto;
}

::part(clock) {
  position: fixed;
  bottom: 2em;
  left: 0.5em;
  font-family: monospace;
  font-size: 2.5em;
  user-select: none;
}

::part(clock-toggle) {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

::part(make-group) {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

mwc-button:not([raised]), /* Weird */
::part(name-input),
::part(can-edit) {
  --mdc-theme-primary: var(--color-fg);
  --mdc-typography-button-text-transform: none;
}

/* Loading */
.loading {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  padding-top: 100px;
  text-transform: uppercase;
}
.loading div {
  position: absolute;
  background-color: royalblue;
  opacity: 1;
  border-radius: 50%;
  animation: loading 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes loading {
  0% {
    top: 40px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* How To */
mwc-dialog:not([open]) { display: none; } /* Find a way for this to be analyzed by bots */

p, ul { 
  text-align: start;
}

mwc-dialog h2 {
  margin-top: 0;
}

mwc-dialog mwc-button {
  text-decoration: none;
  vertical-align: middle;
}

mwc-dialog mwc-icon-button {
  vertical-align: middle;
}

mwc-dialog sets-card { 
  display: flex;
  height: 7.5em;
}


mwc-dialog .card-table {
  display: grid;
  grid-template-columns: var(--how-to-table-template-columns);
  align-items: center;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  padding: 1.5em;
}

mwc-dialog table { 
  display: table;
  padding: 0 1.5em;
}
mwc-dialog table .key { text-align: start; }
mwc-dialog table .value { text-align: end; }

mwc-dialog .set {
  --sets-shape-size: 2.4em;

  display: grid;
  grid-template-columns: var(--how-to-sets-template-columns);
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  padding: 1.5em;
}

/*** Helpers ***/
.mt6px { margin-top: 6px }

body:not([first-visit]) .first-visit,
body[first-visit] .not-first-visit {
  display: none;
}

lit-p2p {
  display: block;
  text-align: center;
}

.next-to-lobby {
  display: inline-block;
  line-height: 36px;
  margin-top: 2px;
  margin-bottom: 1em;
  /* margin-right: 1ch; */
}

/* Only show slots when state matches. */
lit-p2p[state]       .p2p-default-state,
lit-p2p[state="-1"]  .p2p-trying-to-connect, lit-p2p:not([state]) .p2p-trying-to-connect,
lit-p2p[state=""]    .p2p-trying-to-connect,
lit-p2p[state="0"]   .p2p-disconnected, lit-p2p:not([state="0"]) .p2p-offline, lit-p2p[state="0"] .p2p-disconnected-or-ready,
lit-p2p[state="1"]   .p2p-disconnected, lit-p2p:not([state="1"]) .p2p-lobby,   lit-p2p[state="1"] .p2p-disconnected-or-ready,
lit-p2p[state="2"]   .p2p-disconnected, lit-p2p:not([state="2"]) .p2p-loading, lit-p2p[state="2"] .p2p-disconnected-or-ready,
lit-p2p[state="3"]   .p2p-disconnected, lit-p2p:not([state="3"]) .p2p-ready {
  display: none;
}
