/*** Shared vars for light and dark theme ***/
:root {
  --loading-size: 80px;
  --how-to-table-template-columns: 100%;
  --how-to-sets-template-columns: 100%;

  --sets-shape-size: 2.4em;
  --sets-shape-spacing: 8px;
  --sets-grid-template-columns: repeat(2, minmax(150px, 45vw));
  --sets-gap: 2em;
  --sets-cards-per-row: 2;
  --sets-card-animation-delay: 250ms;

  --sets-shape-blue-hsl: 207, 90%, 58%;
  --sets-shape-red-hsl: 45, 100%, 50%;
  --sets-shape-green-hsl: 4, 90%, 58%; /* Actually yellow */

  --chart-line-width: 2px;
  --chart-circle-radius: 0;
  --chart-circle-width: 0;
  --chart-line-width-hover: 0;
  --chart-color-0: royalblue;
  --chart-color-1: red;
  --chart-color-2: green;
  --chart-color-3: purple;
  --chart-color-4: yellow;
  --chart-color-5: cyan;

  --leaderboard-diff-font: bold 15px monospace;
  --leaderboard-diff-duration: 2s;
  --leaderboard-diff-positive-color-fg: limegreen;
  --leaderboard-diff-negative-color-fg: red;

  --mdc-typography-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --mdc-dialog-scroll-divider-color: transparent;
  --mdc-dialog-max-width: 768px;
  --mdc-theme-secondary: rgb(114, 0, 128);
  --mdc-theme-on-secondary: white;
  --mdc-snackbar-action-color: white;

  /* Make these match general color set previously */
  --mdc-theme-surface: var(--mdc-theme-background);
  --mdc-text-field-ink-color: var(--mdc-theme-on-primary);
  --mdc-text-field-label-ink-color: var(--mdc-theme-on-primary);
  --mdc-dialog-heading-ink-color: var(--mdc-theme-on-primary);
  --mdc-dialog-content-ink-color: var(--mdc-theme-on-primary);
  --mdc-theme-text-primary-on-background: var(--mdc-theme-on-primary);
  --mdc-theme-text-hint-on-background: var(--mdc-theme-on-primary);
  --mdc-theme-text-icon-on-background: var(--mdc-theme-on-primary);
}
*, ::after, ::before {
    box-sizing: border-box;
}

/*** Light theme (default) ***/
:root {
  --mdc-theme-background: #fafafa;
  --mdc-theme-primary: #fff;
  --mdc-theme-on-primary: #050505;
}

/*** Media Queries ***/
mwc-button[toggle-online] {
  /* Too big for mobile (must be before media queries) */
  display: none;
}
@media (min-width: 576px) {
  /* bootstrap "sm" */
  :root {
    --how-to-table-template-columns: 50% 50%;
    --how-to-sets-template-columns: 30% 30% 30%;
    --sets-shape-size: 3.5em;
  }
}
@media (min-width: 768px) {
  /* bootstrap "md" */
  :root {
    --sets-shape-spacing: 12px;
    --sets-gap: 1.5em;
    --sets-grid-template-columns: repeat(3, minmax(240px, 30vw));
    --chart-legend-position: absolute;
  }

  mwc-button[toggle-online] {
    display: inline-flex;
  }
  mwc-icon-button[toggle-online] {
    display: none;
  }
}
@media (min-width: 992px) {
  /* bootstrap "lg" */
  :root {
    --sets-gap: 2.5em;
    --sets-shape-spacing: 18px 12px;
  }
}
@media (min-width: 1200px) {
  /* bootstrap "xl" */
  :root {
    --sets-shape-size: 4em;
  }
}

/*** Main page ***/
html,
body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-primary);
  font-family: var(--mdc-typography-font-family);
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  /* -webkit-tap-highlight-color: transparent; */
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}
h1.title {
  font-size: 3rem;
  margin: 1em 0;
}
h1 span,
h2 span {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

/*** Icons ***/
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
header,
header a {
  color: var(--mdc-theme-on-primary);
  text-decoration: none;
}
header mwc-button {
  margin-top: .5em;
}
.corner-ribbon {
  position: absolute;
  line-height: 2em;
  transform: rotate(-45deg);
  width: 100px;
  top: 14px;
  left: -24px;
  
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  font-size: 0.8em;

  background: var(--mdc-theme-secondary);
  color: var(--mdc-theme-on-secondary);
}
/* Discord "Blurple" */
/* #discord path { fill: #7289DA; } */

/*** Parts ***/
::part(sets) {
  /* Leave space for fixed buttons at bottom */
  display: block;
  margin: 0 1em 3em;
}
::part(client-list),
::part(leaderboard-full) {
  display: block;
  max-width: 400px;
  border: 1px solid #d3d3d3;
  border-radius: 0.5em;
  color: var(--mdc-theme-on-primary);
  margin: 0 auto;
}
::part(clock) {
  position: fixed;
  bottom: 2em;
  left: 0.5em;
  font-family: monospace;
  font-size: 2.5em;
  user-select: none;
  z-index: 1;
}
::part(bottom-btn), ::part(make-group), ::part(rematch) {
  position: fixed;
  bottom: 1em;
  z-index: 1;
}
::part(clock-toggle), ::part(rematch) {
  left: 1em;
}
::part(hint) {
  left: 4em;
}
::part(rearrange) {
  left: 7em;
}
::part(difficulty) {
  left: 10em;
}
::part(take), ::part(make-group) {
  right: 1em;
}
::part(mwc-fab-disabled) {
  display: none;
}
::part(chart-holder) {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  max-width: 1024px;
  padding: 20px;
  margin: 0 16px;
  border-radius: .5em;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
::part(axis-y) {
  transform: rotate(270deg);
  position: absolute;
  top: 50%;
  left: 0;
}
::part(legend) {
  position: var(--chart-legend-position, static);
  top: 1em;
  text-align: start;
}
mwc-button:not([raised]), /* Weird */
::part(name-input),
::part(can-edit) {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  --mdc-typography-button-text-transform: none;
}
::part(helper-text), ::part(solution-text) {
  margin-top: 2em;
  display: block;
}
[slot="p2p-alone"] {
  min-height: var(--loading-size);
}
[slot="game-over"] {
  margin-top: 5em;
}

/*** Loading ***/
.loading {
  width: var(--loading-size);
  height: var(--loading-size);

  /* Only useful if text is added */
  padding-top: var(--loading-size);
  white-space: nowrap;
}
[slot="p2p-alone"].centered-text {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: calc(var(--loading-size) / 2);
  padding-top: 1em;
}
.loading.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: calc(-0.5 * var(--loading-size));
  margin-top: calc(-0.5 * var(--loading-size));
}
.loading div {
  position: absolute;
  background-color: royalblue;
  opacity: 1;
  border-radius: 50%;
  animation: loading 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes loading {
  0% {
    top: calc(var(--loading-size) / 2);
    left: calc(var(--loading-size) / 2);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: var(--loading-size);
    height: var(--loading-size);
    opacity: 0;
  }
}

/*** How To ***/
/* Find a way for this to be analyzed by bots */
mwc-dialog:not([open]) {
  display: none;
}
p,
ul {
  text-align: start;
}
mwc-dialog h2 {
  margin-top: 0;
}
mwc-dialog mwc-button,
mwc-dialog mwc-icon-button {
  vertical-align: middle;
}
mwc-dialog sets-card {
  display: flex;
  height: 7.5em;
}
mwc-dialog .card-table {
  display: grid;
  grid-template-columns: var(--how-to-table-template-columns);
  align-items: center;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  padding: 1.5em;
}
mwc-dialog table {
  display: table;
  padding: 0 1.5em;
}
mwc-dialog table .key {
  text-align: start;
}
mwc-dialog table .value {
  text-align: end;
}
mwc-dialog .set {
  --sets-shape-size: 2.4em;

  display: grid;
  grid-template-columns: var(--how-to-sets-template-columns);
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  padding: 1.5em;
}
/* Mini tutorial */
[slot="no-singleplayer-score"] > span {
  margin-inline-start: 0.5ch;
}
[slot="no-singleplayer-score"] strong[transparent] {
  opacity: 0;
}
[slot="no-singleplayer-score"] strong {
  position: absolute;
  transition: opacity .5s ease-in;
  opacity: 1;
}
[slot="no-singleplayer-score"] mwc-list {
  display: inline-block;
}

/*** Helpers ***/
lit-p2p {
  display: block;
  text-align: center;
  margin-bottom: 5em;
}
.next-to-lobby {
  display: inline-block;
  line-height: 36px;
  margin-top: 2px;
  margin-bottom: 1em;
  /* margin-right: 1ch; */
}

[hidden],
/* First visit */
body:not([first-visit]) .first-visit,
body[first-visit] .not-first-visit,  
/* Easy mode only  */
p2p-sets:not([easy-mode]) .easy-mode,
p2p-sets[easy-mode] .not-easy-mode, 
/* Only show slots when state matches. */
lit-p2p[state] .p2p-default-state,
lit-p2p[state="-1"] .p2p-trying-to-connect,
lit-p2p:not([state]) .p2p-trying-to-connect,
lit-p2p[state=""] .p2p-trying-to-connect,
lit-p2p:not([state]) .p2p-disconnected-or-ready,
lit-p2p[state="0"] .p2p-disconnected,
lit-p2p:not([state="0"]) .p2p-offline,
lit-p2p[state="0"] .p2p-disconnected-or-ready,
lit-p2p[state="1"] .p2p-disconnected,
lit-p2p:not([state="1"]) .p2p-lobby,
lit-p2p[state="1"] .p2p-disconnected-or-ready,
lit-p2p[state="2"] .p2p-disconnected,
lit-p2p:not([state="2"]) .p2p-loading,
lit-p2p[state="2"] .p2p-disconnected-or-ready,
lit-p2p[state="3"] .p2p-disconnected,
lit-p2p:not([state="3"]) .p2p-ready {
  display: none !important;
}
