body {
  --background-color: #fafafa;
  --color: hsla(0, 0, 0, 0.87);
  --mdc-theme-primary: #fff;
  --mdc-theme-on-primary: var(--color);
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #303030;
    --mdc-theme-primary: #424242;
    --color: #fff;
  }
}
